In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data/ds_infosys/BigMart.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,DRA12,11.6,Low Fat,0.041178,Soft Drinks,140.3154,OUT017,2007,NaN,Tier 2,Supermarket Type1,2552.6772
1,DRA12,11.6,Low Fat,0.000000,Soft Drinks,141.6154,OUT045,2002,NaN,Tier 2,Supermarket Type1,3829.0158
2,DRA12,11.6,Low Fat,0.040912,Soft Drinks,142.3154,OUT013,1987,High,Tier 3,Supermarket Type1,2552.6772
3,DRA12,11.6,LF,0.000000,Soft Drinks,141.9154,OUT035,2004,Small,Tier 2,Supermarket Type1,992.7078
4,DRA12,11.6,Low Fat,0.041113,Soft Drinks,142.0154,OUT018,2009,Medium,Tier 3,Supermarket Type2,850.8924

In [3]:
df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,NCZ54,14.65,Low Fat,0.083528,Household,162.4552,OUT045,2002,NaN,Tier 2,Supermarket Type1,2274.3728
8519,NCZ54,14.65,Low Fat,0.083359,Household,161.9552,OUT046,1997,Small,Tier 1,Supermarket Type1,4711.2008
8520,NCZ54,NaN,Low Fat,0.145952,Household,160.9552,OUT019,1985,Small,Tier 1,Grocery Store,162.4552
8521,NCZ54,14.65,Low Fat,0.083699,Household,163.4552,OUT018,2009,Medium,Tier 3,Supermarket Type2,2599.2832
8522,NCZ54,14.65,Low Fat,0.083489,Household,161.3552,OUT049,1999,Medium,Tier 1,Supermarket Type1,7148.0288

In [16]:
df.shape

(8523, 12)

In [4]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [12]:
df['Outlet_Identifier'].value_counts().sort_values()

OUT019    528
OUT010    555
OUT017    926
OUT018    928
OUT045    929
OUT035    930
OUT049    930
OUT046    930
OUT013    932
OUT027    935
Name: Outlet_Identifier, dtype: int64

In [14]:
df.groupby(by='Outlet_Identifier').count()['Outlet_Size'].sort_values()
##3 outlets have no size. lets remove it.

Outlet_Identifier
OUT010      0
OUT017      0
OUT045      0
OUT019    528
OUT018    928
OUT035    930
OUT046    930
OUT049    930
OUT013    932
OUT027    935
Name: Outlet_Size, dtype: int64

In [ ]:
df.drop()

In [17]:
df.corr()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
Item_Weight,1.000000,-0.014048,0.027141,-0.011588,0.014123
Item_Visibility,-0.014048,1.000000,-0.001315,-0.074834,-0.128625
Item_MRP,0.027141,-0.001315,1.000000,0.005020,0.567574
Outlet_Establishment_Year,-0.011588,-0.074834,0.005020,1.000000,-0.049135
Item_Outlet_Sales,0.014123,-0.128625,0.567574,-0.049135,1.000000

In [7]:
df[df['Item_Weight'].isnull()]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,DRA24,NaN,Regular,0.069909,Soft Drinks,163.2868,OUT019,1985,Small,Tier 1,Grocery Store,491.3604
9,DRA24,NaN,Regular,0.039735,Soft Drinks,165.7868,OUT027,1985,Medium,Tier 3,Supermarket Type3,4913.6040
17,DRA59,NaN,Regular,0.127308,Soft Drinks,186.6924,OUT027,1985,Medium,Tier 3,Supermarket Type3,7033.5112
18,DRA59,NaN,Regular,0.223985,Soft Drinks,186.2924,OUT019,1985,Small,Tier 1,Grocery Store,555.2772
23,DRB01,NaN,Low Fat,0.081841,Soft Drinks,190.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,569.2590
...,...,...,...,...,...,...,...,...,...,...,...,...
8486,NCZ18,NaN,Low Fat,0.325781,Household,252.7698,OUT019,1985,Small,Tier 1,Grocery Store,761.0094
8499,NCZ30,NaN,LF,0.026058,Household,121.9098,OUT027,1985,Medium,Tier 3,Supermarket Type3,3374.2744
8512,NCZ53,NaN,Low Fat,0.024359,Health and Hygiene,190.4214,OUT027,1985,Medium,Tier 3,Supermarket Type3,5652.6420
8517,NCZ54,NaN,Low Fat,0.082956,Household,164.0552,OUT027,1985,Medium,Tier 3,Supermarket Type3,5523.4768
8520,NCZ54,NaN,Low Fat,0.145952,Household,160.9552,OUT019,1985,Small,Tier 1,Grocery Store,162.4552

In [8]:
df[df['Item_Identifier']=='FDP10']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4016,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
4017,FDP10,19.0,Low Fat,0.128066,Snack Foods,104.3622,OUT035,2004,Small,Tier 2,Supermarket Type1,1905.5196
4018,FDP10,19.0,Low Fat,0.128815,Snack Foods,107.6622,OUT017,2007,NaN,Tier 2,Supermarket Type1,1164.4842
4019,FDP10,19.0,Low Fat,0.128289,Snack Foods,104.9622,OUT049,1999,Medium,Tier 1,Supermarket Type1,1164.4842
4020,FDP10,19.0,Low Fat,0.128090,Snack Foods,107.0622,OUT046,1997,Small,Tier 1,Supermarket Type1,1376.2086
4021,FDP10,19.0,Low Fat,0.128350,Snack Foods,106.5622,OUT045,2002,NaN,Tier 2,Supermarket Type1,1482.0708
4022,FDP10,19.0,Low Fat,0.127984,Snack Foods,107.6622,OUT013,1987,High,Tier 3,Supermarket Type1,1270.3464

In [9]:
df[df['Item_Identifier']=='DRI11']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
435,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
436,DRI11,NaN,Low Fat,0.060237,Hard Drinks,115.9834,OUT019,1985,Small,Tier 1,Grocery Store,345.5502
437,DRI11,8.26,Low Fat,0.034458,Hard Drinks,113.3834,OUT049,1999,Medium,Tier 1,Supermarket Type1,2073.3012
438,DRI11,8.26,Low Fat,0.057586,Hard Drinks,113.7834,OUT010,1998,NaN,Tier 3,Grocery Store,115.1834
439,DRI11,8.26,Low Fat,0.034398,Hard Drinks,115.7834,OUT035,2004,Small,Tier 2,Supermarket Type1,2073.3012
440,DRI11,8.26,Low Fat,0.034544,Hard Drinks,116.0834,OUT018,2009,Medium,Tier 3,Supermarket Type2,1267.0174
441,DRI11,8.26,Low Fat,0.034474,Hard Drinks,117.0834,OUT045,2002,NaN,Tier 2,Supermarket Type1,1612.5676

In [11]:
#to replace nan item_weights with corresponding weights from other rows
item_attrs = df[['Item_Identifier','Item_Weight']].dropna().drop_duplicates()
new_df = df[['Item_Identifier']].merge(item_attrs,'left')
new_df

     Item_Identifier  Item_Weight
0              DRA12        11.60
1              DRA12        11.60
2              DRA12        11.60
3              DRA12        11.60
4              DRA12        11.60
...              ...          ...
8518           NCZ54        14.65
8519           NCZ54        14.65
8520           NCZ54        14.65
8521           NCZ54        14.65
8522           NCZ54        14.65

[8523 rows x 2 columns]

In [12]:
df = df.drop(['Item_Weight'],axis = 1)
df

,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,DRA12,Low Fat,0.041178,Soft Drinks,140.3154,OUT017,2007,NaN,Tier 2,Supermarket Type1,2552.6772
1,DRA12,Low Fat,0.000000,Soft Drinks,141.6154,OUT045,2002,NaN,Tier 2,Supermarket Type1,3829.0158
2,DRA12,Low Fat,0.040912,Soft Drinks,142.3154,OUT013,1987,High,Tier 3,Supermarket Type1,2552.6772
3,DRA12,LF,0.000000,Soft Drinks,141.9154,OUT035,2004,Small,Tier 2,Supermarket Type1,992.7078
4,DRA12,Low Fat,0.041113,Soft Drinks,142.0154,OUT018,2009,Medium,Tier 3,Supermarket Type2,850.8924
...,...,...,...,...,...,...,...,...,...,...,...
8518,NCZ54,Low Fat,0.083528,Household,162.4552,OUT045,2002,NaN,Tier 2,Supermarket Type1,2274.3728
8519,NCZ54,Low Fat,0.083359,Household,161.9552,OUT046,1997,Small,Tier 1,Supermarket Type1,4711.2008
8520,NCZ54,Low Fat,0.145952,Household,160.9552,OUT019,1985,Small,Tier 1,Grocery Store,162.4552
8521,NCZ54,Low Fat,0.083699,Household,163.4552,OUT018,2009,Medium,Tier 3,Supermarket Type2,2599.2832
8522,NCZ54,Low Fat,0.083489,Household,161.3552,OUT049,1999,Medium,Tier 1,Supermarket Type1,7148.0288

In [13]:
df.insert(1,'Item_Weight',new_df['Item_Weight'],True)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,DRA12,11.60,Low Fat,0.041178,Soft Drinks,140.3154,OUT017,2007,NaN,Tier 2,Supermarket Type1,2552.6772
1,DRA12,11.60,Low Fat,0.000000,Soft Drinks,141.6154,OUT045,2002,NaN,Tier 2,Supermarket Type1,3829.0158
2,DRA12,11.60,Low Fat,0.040912,Soft Drinks,142.3154,OUT013,1987,High,Tier 3,Supermarket Type1,2552.6772
3,DRA12,11.60,LF,0.000000,Soft Drinks,141.9154,OUT035,2004,Small,Tier 2,Supermarket Type1,992.7078
4,DRA12,11.60,Low Fat,0.041113,Soft Drinks,142.0154,OUT018,2009,Medium,Tier 3,Supermarket Type2,850.8924
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,NCZ54,14.65,Low Fat,0.083528,Household,162.4552,OUT045,2002,NaN,Tier 2,Supermarket Type1,2274.3728
8519,NCZ54,14.65,Low Fat,0.083359,Household,161.9552,OUT046,1997,Small,Tier 1,Supermarket Type1,4711.2008
8520,NCZ54,14.65,Low Fat,0.145952,Household,160.9552,OUT019,1985,Small,Tier 1,Grocery Store,162.4552
8521,NCZ54,14.65,Low Fat,0.083699,Household,163.4552,OUT018,2009,Medium,Tier 3,Supermarket Type2,2599.2832
8522,NCZ54,14.65,Low Fat,0.083489,Household,161.3552,OUT049,1999,Medium,Tier 1,Supermarket Type1,7148.0288

In [14]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     4
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [15]:
df[df['Item_Weight'].isna()]#4 items have null weight

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1901,FDE52,NaN,Regular,0.029742,Dairy,88.9514,OUT027,1985,Medium,Tier 3,Supermarket Type3,3453.5046
3152,FDK57,NaN,Low Fat,0.079904,Snack Foods,120.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3,4434.2280
3724,FDN52,NaN,Regular,0.130933,Frozen Foods,86.9198,OUT027,1985,Medium,Tier 3,Supermarket Type3,1569.9564
4454,FDQ60,NaN,Regular,0.191501,Baking Goods,121.2098,OUT019,1985,Small,Tier 1,Grocery Store,120.5098

In [16]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'LF', 'Regular', 'reg', 'low fat'], dtype=object)

In [17]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'])
#replace the values correctly

In [18]:
df['Item_Type'].unique()

array(['Soft Drinks', 'Dairy', 'Hard Drinks', 'Canned', 'Frozen Foods',
       'Fruits and Vegetables', 'Snack Foods', 'Baking Goods',
       'Starchy Foods', 'Meat', 'Seafood', 'Breakfast', 'Breads',
       'Health and Hygiene', 'Household', 'Others'], dtype=object)

In [19]:
df['Outlet_Size'].unique()

array([nan, 'High', 'Small', 'Medium'], dtype=object)

In [20]:
df['Outlet_Location_Type'].unique()

array(['Tier 2', 'Tier 3', 'Tier 1'], dtype=object)

In [21]:
df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [24]:
#convert object to category type for the categorical features
df['Outlet_Type'] = df['Outlet_Type'].astype('category')
df['Outlet_Location_Type'] = df['Outlet_Location_Type'].astype('category')
df['Item_Type'] = df['Item_Type'].astype('category')
df['Item_Fat_Content'] = df['Item_Fat_Content'].astype('category')
df['Outlet_Size'] = df['Outlet_Size'].astype('category')

In [ ]:
#select features and target variables
X = [:11,axis=1]
y = ['Item_Outlet_Sales']

first split data into train and test
then apply encoding to prevent data leakage

In [ ]:
#split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 10, train_size = 0.8, shuffle=True)

In [29]:
#one hot encode the categorical columns
ohe = pd.get_dummies(data = df,columns = ['Item_Type','Item_Fat_Content','Outlet_Type','Outlet_Location_Type'])
ohe1 = pd.get_dummies(data = ohe,columns = ['Outlet_Size'],dummy_na=True)

In [34]:
ohe1

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,...,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Size_nan
0,DRA12,11.60,0.041178,140.3154,OUT017,2007,2552.6772,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,DRA12,11.60,0.000000,141.6154,OUT045,2002,3829.0158,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2,DRA12,11.60,0.040912,142.3154,OUT013,1987,2552.6772,0,0,0,...,1,0,0,0,0,1,1,0,0,0
3,DRA12,11.60,0.000000,141.9154,OUT035,2004,992.7078,0,0,0,...,1,0,0,0,1,0,0,0,1,0
4,DRA12,11.60,0.041113,142.0154,OUT018,2009,850.8924,0,0,0,...,0,1,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,NCZ54,14.65,0.083528,162.4552,OUT045,2002,2274.3728,0,0,0,...,1,0,0,0,1,0,0,0,0,1
8519,NCZ54,14.65,0.083359,161.9552,OUT046,1997,4711.2008,0,0,0,...,1,0,0,1,0,0,0,0,1,0
8520,NCZ54,14.65,0.145952,160.9552,OUT019,1985,162.4552,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8521,NCZ54,14.65,0.083699,163.4552,OUT018,2009,2599.2832,0,0,0,...,0,1,0,0,0,1,0,1,0,0
8522,NCZ54,14.65,0.083489,161.3552,OUT049,1999,7148.0288,0,0,0,...,1,0,0,1,0,0,0,1,0,0

In [38]:
finaldf = ohe1.drop(['Item_Outlet_Sales'],axis=1)

In [42]:
finaldf['Item_Outlet_Sales'] = ohe1['Item_Outlet_Sales'].values#add the target variable at the end of df
finaldf

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,...,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Size_nan,Item_Outlet_Sales
0,DRA12,11.60,0.041178,140.3154,OUT017,2007,0,0,0,0,...,0,0,0,1,0,0,0,0,1,2552.6772
1,DRA12,11.60,0.000000,141.6154,OUT045,2002,0,0,0,0,...,0,0,0,1,0,0,0,0,1,3829.0158
2,DRA12,11.60,0.040912,142.3154,OUT013,1987,0,0,0,0,...,0,0,0,0,1,1,0,0,0,2552.6772
3,DRA12,11.60,0.000000,141.9154,OUT035,2004,0,0,0,0,...,0,0,0,1,0,0,0,1,0,992.7078
4,DRA12,11.60,0.041113,142.0154,OUT018,2009,0,0,0,0,...,1,0,0,0,1,0,1,0,0,850.8924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,NCZ54,14.65,0.083528,162.4552,OUT045,2002,0,0,0,0,...,0,0,0,1,0,0,0,0,1,2274.3728
8519,NCZ54,14.65,0.083359,161.9552,OUT046,1997,0,0,0,0,...,0,0,1,0,0,0,0,1,0,4711.2008
8520,NCZ54,14.65,0.145952,160.9552,OUT019,1985,0,0,0,0,...,0,0,1,0,0,0,0,1,0,162.4552
8521,NCZ54,14.65,0.083699,163.4552,OUT018,2009,0,0,0,0,...,1,0,0,0,1,0,1,0,0,2599.2832
8522,NCZ54,14.65,0.083489,161.3552,OUT049,1999,0,0,0,0,...,0,0,1,0,0,0,1,0,0,7148.0288